//////////////////////////////////////////////////////////
////  Section | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Section | Styles
//////////////////////////////////////////////////////////

.locations-filter {
	
	margin: 0 0 35px 0;
	padding: 0 0 10px 0;
    border-bottom: 1px solid gray;
	
	&__list,
	&__item {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0.1px;
		text-align: left;
	}
	
	&__list {
		display: block;
	}
	
	&__item {
		font-family: $theme-sans-serif;
		display: inline-block;
		vertical-align: middle;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 0.18em;
		cursor: pointer;
		text-transform: uppercase;
		margin: 0 10px 0 0;
		color: #877f7b;
		&:hover, &.active {
			color: #282524;
		}
		&:last-child {
			margin: 0;
		}
	}
	
	@include breakpoint(xs) {
	
	} // min width xs
	
	@include breakpoint(sm) {
	
	} // min width sm
	
	@include breakpoint(md) {
	
	} // min width md
	
	@include breakpoint(lg) {
	
	} // min width lg
	
	
} // .locations-filter


