//////////////////////////////////////////////////////////
////  Location Post | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Location Post | Styles
//////////////////////////////////////////////////////////

.page--locations {
	
	background: $theme-beige;
	
	@include breakpoint(xs) {
	
	} // min width xs
	
	@include breakpoint(sm) {
	
	} // min width sm
	
	@include breakpoint(md) {
	
	} // min width md
	
	@include breakpoint(lg) {
	
	} // min width lg

} // .page--locations