//////////////////////////////////////////////////////////
////  Front Page | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Front Page | Styles
//////////////////////////////////////////////////////////

#front-page {
	
	background: $theme-light-grey;
	padding: 0px;
	
	.instagram-copy,
	.instagram-media {
		width: 280px;
	}
	
	.instagram-media {
		height: 280px; 
		display: inline-block;
		background: rgba(0,0,0,0.33);
	}
	
	.instagram-copy {
		
	}
	
	.carousel-container {
		position: relative;
	}
	
	.carousel-container--front-page {
		width: 100%;
		height: 100%;
		&:hover {
			.carousel-controls {
				@include opacity(0.4);
			}
		}
		.carousel-controls {
			&:hover {
				@include opacity(1);	
			}
		}
	}
		
	.carousel {
		width: 100%;
		height: 100%;
		display: block;
	}	
	
	.owl-item.active {
		.carousel-item {
			@include opacity(1);
		}
	}
	
	.carousel-item {
		@include transitions-all( 300, 45 );
		@include opacity(0);
		@include background-cover;
		width: 100%;
		height: 100%;
		display: block;
	}
	
	.carousel-controls {
		@include transitions-all( 300, 45 );
		@include opacity(0.2);
		position: absolute;
	    top: 50%;
	    cursor: pointer;
	    height: 23px;
	    width: 12px;
	    margin-top: -11.5px;
	    z-index: 5;
	    
	    img {
		    width: 100%;
		    height: 100%;
		    display: block;
	    }
	    
	}
	
	.carousel-controls--next {
		right: 10px;
	}
	
	.carousel-controls--prev {
		@include rotate(180);
		left: 10px;
	}
	
	.owl-dots {
		position: absolute;
		display: block;
		width: 100%;
		bottom: 0px;
		text-align: center;
		z-index: 2;
		line-height: 0%;
		padding: 20px 0px;
	}
	
	.owl-dot {
		@include transitions-all( 300, 45 );
		@include border-radius(7);
		@include opacity(0.15);
		vertical-align: middle;
		display: inline-block;
	    height: 7px;
	    width: 7px;
	    margin-right: 15px;
	    &.active {
			@include opacity(0.8); 
	    }
	    &:hover {
		   @include opacity(1); 
	    }
	}
	
	.dark {
		.owl-dot {
			background: $theme-beige;
		}
	}
	
	.light {
		.owl-dot {
			background: $theme-dark-grey;
		}
	}
	
	p.instagram-content--caption {
		font-family: $theme-serif;
		font-size: 15px;
		font-weight: 300;
		letter-spacing: 0.675px;
		line-height: 140%;
	}
	
	a.instagram-content--user-acount-link {
		font-family: $theme-sans-serif;
		display: block;
	    text-transform: uppercase;
	    font-weight: 400;
	    font-size: 11px;
	    line-height: 100%;
	    margin-bottom: 6px;
	}
	
	span.instagram-content--icon {
		display: block;
		width: 24px;
	    height: 24px;
	    margin-top: 6px;
	    img {
		    width: 100%;
		    height: 100%;
		    display: block;
	    }
	}
	
	
	.instagram-content--post-link {
		@include transitions-all(300,45);
		display: block;
		width: 100%;
		height: 100%;
	}
	
	.instagram-content--post-link-background {
		top: 0;
		left: 0;
		position: absolute;
		background: rgba(40, 37, 36, 0);	
		&:hover {
			background: rgba(40, 37, 36, 0.32);	
		}
	}
	
	.instagram-content--post-link-inline {
		&:hover {
			@include opacity(0.8);
		}
	}
	
	img.instagram-content--image {
		@include box-shadow( 3px, 3px, 10px, 1px, rgba(0,0,0,0.1) );
	}
		
	@include breakpoint(xs) {
		
		.instagram-copy,
		.instagram-media {
			width: 320px;
		}
		
		.instagram-media {
			height: 320px; 
		}
		
		.carousel-controls {
            height: 32px;
            width: 17px;
            margin-top: -13.5px;
        }
	
		.carousel-controls--next {
			right: 15px;
		}
		
		.carousel-controls--prev {
			left: 15px;
		}
		
	} // min width xs
	
	@include breakpoint(sm) {
		
		.instagram-copy,
		.instagram-media {
			width: 360px;
		}
		
		.instagram-media {
			height: 360px; 
		}
		
		.carousel-controls {
            height: 36px;
            width: 20px;
            margin-top: -18px;
        }
        
		.carousel-controls--next {
			right: 20px;
		}
		
		.carousel-controls--prev {
			left: 20px;
		}
		
	} // min width sm
	
	@include breakpoint(md) {
		
		p.instagram-content--caption {
			font-size: 13px;
		}
		
		a.instagram-content--user-acount-link {
			font-size: 12px;
		}
		
		span.instagram-content--icon {
			width: 24px;
		    height: 24px;
		}
		
		.carousel-container--front-page {
			display: none;
		}
				
	} // min width md
	
	@include breakpoint(lg) {
				
		p.instagram-content--caption {
			font-size: 15px;
		}
		
		a.instagram-content--user-acount-link {
			font-size: 14px;
		}
		
		span.instagram-content--icon {
			width: 24px;
		    height: 24px;
		}
		
	} // min width lg

} // #front-page 
