//////////////////////////////////////////////////////////
////  Page | Variables
//////////////////////////////////////////////////////////

$page-cover-height: 300px;
$page-cover-height--xs: 340px;
$page-cover-height--sm: 390px;
$page-cover-height--md: 460px;
$page-cover-height--lg: 520px;

$page-padding-top: 95px;
$page-padding-top--xs: 105px;
$page-padding-top--sm: 115px;
$page-padding-top--md: 130px;
$page-padding-top--lg: 155px;

$page-padding-bottom: 55px;
$page-padding-bottom--xs: 65px;
$page-padding-bottom--sm: 75px;
$page-padding-bottom--md: 105px;
$page-padding-bottom--lg: 115px;

$header-height: 64px; 
$header-height--xs: 68px;
$header-height--sm: 75px;
$header-height--md: 85px;
$header-height--lg: 100px;

//////////////////////////////////////////////////////////
////  Page | Styles
//////////////////////////////////////////////////////////

.page[role="main"] {
	
	background: $theme-light-grey;
	padding-top: $page-padding-top;
	padding-bottom: $page-padding-bottom;
	
	&.page--front-page,
	&.page--services,
	&.page--academy,
	&.page--experience,
	&.page--lab,
	&.page--contact-us {
		padding-top: 0px;
	}
	
	&.page--front-page,
	&.page--services,
	&.page--academy,
	&.page--experience {
		padding-bottom: 0px;
	}
		
	@include breakpoint(xs) {
		padding-top: $page-padding-top--xs;
		padding-bottom: $page-padding-bottom--xs;
	} // min width xs
		
	@include breakpoint(sm) {
		padding-top: $page-padding-top--sm;
		padding-bottom: $page-padding-bottom--sm;
	} // min width sm
		
	@include breakpoint(md) {
		padding-top: $page-padding-top--md;
		padding-bottom: $page-padding-bottom--md;	
	} // min width md
		
	@include breakpoint(lg) {
		padding-top: $page-padding-top--lg;		
	} // min width lg
	
} // .page 