//////////////////////////////////////////////////////////
////  Services | Variables
//////////////////////////////////////////////////////////

$service-item-height: 220px;
$service-item-height--xs: 250px;
$service-item-height--sm: 300px;
$service-item-height--md: 320px;
$service-item-height--lg: 400px;

//////////////////////////////////////////////////////////
////  Services | Styles
//////////////////////////////////////////////////////////

#services {
	
	.services {
		display: block;
		width: 100%;
		margin: 0px 0px 35px 0px;
		&:last-child {
			margin: 0px;
		}
	}
	
	.services__header {
		text-align: center;
		.message {
			margin: 0px 0px 35px 0px;
		}
	}
	
	.services__list {
		margin: 0px;
		padding: 0px;
		display: block;
	}
	
	.services__item {
		@include transitions-all(280);
		height: $service-item-height;
		display: block;
		position: relative;
	}
	
	.services__item-background-image,
	.services__item-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	
	.services__item-overlay {
		background: rgba(0, 0, 0, 0.66);
	}
	
	.services__item-cta {
		color: $theme-beige;
		@include vertical-center;
		text-align: center;
		
		.headline {
			margin: 0px;
			line-height: 110%;
		}
		
	}
							
	@include breakpoint(xs) {
		
		.services {
			margin-bottom: 45px;
		}
		
		.services__header {
			.message {
				margin-bottom: 55px;
			}
		}
		
		.services__item {
			height: $service-item-height--xs;
		}
		
	} // min width xs
	
	@include breakpoint(sm) {
		
		.services {
			margin-bottom: 55px;
		}
		
		.services__header {
			.message {
				margin-bottom: 65px;
			}
		}
		
		.services__item {
			height: $service-item-height--sm;
		}
		
	} // min width sm
	
	@include breakpoint(md) {
		
		.services {
			margin-bottom: 65px;
		}
		
		.services__header {
			.message {
				margin-bottom: 75px;
			}
		}
		
		.services__list {
			display: table;
			width: 100%;
		}
		
		.services__list--01 {
			.services__item {
				width: 100%;
			}
		}
		
		.services__list--02 {
			.services__item {
				width: 50%;
			}
		}
		
		.services__list--03 {
			.services__item {
				width: 33%;
			}
		}
		
		.services__list--04 {
			.services__item {
				width: 25%;
			}
		}
		
		.services__list--05 {
			.services__item {
				width: 20%;
			}
		}
		
		.services__list--06 {
			.services__item {
				width: 16%;
			}
		}
		
		.services__list--07 {
			.services__item {
				width: 14%;
			}
		}
		
		.services__item {
			display: table-cell;
			height: $service-item-height--md;
		}

	} // min width md
	
	@include breakpoint(lg) {
		
		.services {
			margin-bottom: 75px;
		}
		
		.services__header {
			.message {
				margin-bottom: 85px;
			}
		}
		
		.services__item {
			height: $service-item-height--lg;
		}
			
	} // min width lg

} // #services