//////////////////////////////////////////////////////////
////  Location Post | Variables
//////////////////////////////////////////////////////////

$offset-header-top: 64px;
$offset-header-top-xs: 68px;
$offset-header-top-sm: 75px;
$offset-header-top-md: 85px;
$offset-header-top-lg: 100px;

$barber-profile-picture: 260px;
$barber-profile-picture-xs: 215px;
$barber-profile-picture-sm: 329px;
$barber-profile-picture-md: 162px;
$barber-profile-picture-lg: 204px;

//////////////////////////////////////////////////////////
////  Location Post | Styles
//////////////////////////////////////////////////////////

#location {
	
	background: $theme-beige;
		
	.column-container,
	.column {
		display: block;
		width: 100%;
	}
	
	.column-container {
		@include clearfix;
	}
	
	.column {
		display: block;
		height: auto;
	}

	.location-details {
		padding: 100px 15px;
	}
	
	.headline--location-title {
		letter-spacing: 0.18em;
		font-weight: bold;
		line-height: 90%;
	}
	
	.headline--location-title,
	.location-city {
		font-size: 16px;
	}
	
	.location-city {
		font-family: $theme-serif;
		display: block;
		text-transform: uppercase;
	    letter-spacing: 0.075em;
		margin: 7px 0px 0px 0px;
		font-weight: 300;
	}
	
	.tabs-navigation,
  	.tabs-content {
    	display: block;
      	margin: 0px;
    }
  
    .tabs-navigation {
	    border-bottom: 1px solid rgba(40, 37, 36, 0.15);
      	font-family: $theme-sans-serif;
 		padding: 10px 0px;
      	margin: 10px 0px 0px 0px;
  	}
  
  	.tabs-navigation-item {
      	@include opacity(0.33);
      	color: $theme-dark-grey;
  		display: inline-block;
      	font-weight: 500;
      	letter-spacing: 0.18em;
      	width: auto;
      	margin: 0px 10px 0px 0px;
      	cursor: pointer;
      	font-size: 12px;
      	text-transform: uppercase;
      	&:hover, &.active {
      		@include opacity(1);
        }
      	&:last-child {
      		margin: 0px;
        }
    }
  
  	.tabs-navigation-item,
  	.tabs-content-item {
  		@include transitions( all, 300, 45 );
    }
  
  	.tabs-content,
  	.tabs-content-item {
  		display: block;
      	margin: 0px;
      	padding: 0px;
    }
  	
  	.tabs-content-item {
  		display: none;
      	&:first-child {
        	display: block;
        }
    }
  
  	.tab-content-padding {
  		padding: 12px 0px;
      
      	p, li {
      		font-size: 14px;
          	line-height: 140%;
        }
    }
    
    .button {
	    margin-top: 10px;
	    margin-bottom: 5px;
    }
    
    .location__barbers {
	    text-align: center;
	    padding: 55px 0px;
	    
	    .headline {
		    font-weight: 500;
		    line-height: 90%;
	    }
	    
	    .headline--section-title {
		    width: 80%;
		    margin: 0px auto 25px;
		    font-size: 12px;
		    padding-bottom: 10px;
		    border-bottom: 1px solid rgba(40, 37, 36, 0.15);		    
		    text-align: left;
	    }
	    
    }
    
    .barber-list-item {
	    
	    &:nth-child(2n + 1) {
		    clear: both;
	    }
	    
    }
    
    .barber {
	    width: 100%;
	    margin: 0px auto 25px;
	    
	    a, img {
		    display: block;
		    width: 100%;
		    height: auto;
	    }
	    
	    a:hover {
		    
		    .barber__image {
			    @include opacity(0.9);
		    }
		    
		    .headline--barber-name {
			    color: #000;
		    }
		    
	    }
	    
    }
   
	.barber__image {
		@include transitions-all(300,45);
		width: 100%;
		height: 175px;
		position: relative;
		margin-bottom: 25px;
		.background-image {
			@include background-cover;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
	
	.barber__info {
		text-align: left;
		padding: 0px 15px;
	}
	
	.headline--barber-name {
		@include transitions-all(300,45);
		font-size: 12px;
	}
   
	.instagra-icon {
		margin-top: 6px;
		width: 17px;
		height: 17px;
	}
			
	@include breakpoint(xs) {
				
		.location-details {
			padding: 120px 15px;
		}
			
		.headline--location-title,
		.location-city {
			font-size: 17px;
		}
		
		.tabs-navigation {
            margin: 12px 0px 0px 0px;
        }

        .tabs-navigation-item {
            margin: 0px 12px 0px 0px;
            font-size: 13px;
        }

        .tab-content-padding {
            padding: 14px 0px;

            p, li {
                font-size: 15px;
            }
        }

	    .location__barbers {
		    padding: 75px 0px;
		    .headline--section-title {
			    margin: 0px auto 30px;
			}
	    }
	    
	    .barber {
		    width: $barber-profile-picture-xs;
		    margin: 0px auto 28px;
		}
	   
		.barber__image {
			width: $barber-profile-picture-xs;
			height: $barber-profile-picture-xs;
		}
		
		.headline--barber-name {
			font-size: 12px;
		}
	    			
	} // min width xs
	
	@include breakpoint(sm) {
				
		.location-details {
			padding: 140px 15px;
		}
		
		.headline--location-title,
		.location-city {
			font-size: 19px;
		}
		
		.tabs-navigation {
            margin: 14px 0px 0px 0px;
        }

        .tabs-navigation-item {
            margin: 0px 15px 0px 0px;
            font-size: 14px;
        }

        .tab-content-padding {
            padding: 16px 0px;

            p, li {
                font-size: 16px;
            }
        }
        
        .location__barbers {
		    padding: 95px 0px;
		    .headline--section-title {
			    margin: 0px auto 40px;
			}
	    }
	    
	    .barber {
		    width: $barber-profile-picture-sm;
		    margin: 0px auto 32px;
		}
	   
		.barber__image {
			width: $barber-profile-picture-sm;
			height: $barber-profile-picture-sm;
		}
		
		.headline--barber-name {
			font-size: 12px;
		}
	   		
	} // min width sm
	
	@include breakpoint(md) {
				
		.column {
			width: 50% !important;
			//#WTF
		}
		
		.location-details {
			@include vertical-center;
			padding: 0px;
			width: 360px;
		    margin-right: auto;
		    margin-left: auto;
		}
		
		.headline--location-title,
		.location-city {
			font-size: 14px;
		}
		
		.tabs-navigation {
            margin: 6px 0px 0px 0px;
          	padding: 8px 0px;
        }

        .tabs-navigation-item {
            margin: 0px 10px 0px 0px;
            font-size: 10px;
        }

        .tab-content-padding {
            padding: 8px 0px;

            p, li {
                font-size: 13px;
            }
        }
        
		.barber-list-item {
		    &:nth-child(2n + 1) {
			    clear: none;
		    }
		    &:nth-child(4n + 1) {
			    clear: both;
		    }
    	}

	    .barber {
		    width: $barber-profile-picture-md;
		    margin: 0px 0px 25px 0px;
	    }
	   
		.barber__image {
			position: relative;
			width: $barber-profile-picture-md;
			height: $barber-profile-picture-md;
			margin-bottom: 18px;
		}
		
		.headline--barber-name {
			font-size: 10px;
		}
		
	} // min width md
	
	@include breakpoint(lg) {
			
		.location-details {
			width: 420px;
		}	
			
		.headline--location-title,
		.location-city {
			font-size: 16px;
		}
		
		.tabs-navigation {
            margin: 8px 0px 0px 0px;
          	padding: 8px 0px;
        }

        .tabs-navigation-item {
            margin: 0px 12px 0px 0px;
            font-size: 12px;
        }

        .tab-content-padding {
            padding: 10px 0px;
            p, li {
                font-size: 15px;
            }
        }
        
        .location__barbers {
		    padding: 135px 0px;
	    }
	    
		.barber-list-item {
	    }
	    
	    .barber {
		    width: $barber-profile-picture-lg;
		      margin: 0px 0px 30px 0px;
	    }
	   
		.barber__image {
			position: relative;
			width: $barber-profile-picture-lg;
			height: $barber-profile-picture-lg;
			margin-bottom: 18px;
		}
		
		.headline--barber-name {
			font-size: 12px;
		}
		
	} // min width lg

} // #location 