.collapsible {
	
	&__trigger {
		cursor: pointer;
		&.collapsed {
			.collapsible__icon {
				@include rotate(0);
			}
		}
	}
	
	&__icon,
	&__title {
		@include transitions-all(280);
		display: inline-block;
		vertical-align: middle;
	}
	
	&__icon {
		@include rotate(45);
	}
	
	&__content {}
			
	&__padding {}
	
	@include breakpoint(xs) {
	
	} // min width xs
	
	@include breakpoint(sm) {
	
	} // min width sm
	
	@include breakpoint(md) {
	
	} // min width md
	
	@include breakpoint(lg) {
	
	} // min width lg
	
} // .collapsible