//////////////////////////////////////////////////////////
////  Footer | Variables
//////////////////////////////////////////////////////////

$footer-feature-height: 200px;
$footer-feature-height-xs: 200px;
$footer-feature-height-sm: 200px;
$footer-feature-height-md: 200px;
$footer-feature-height-lg: 200px;

//////////////////////////////////////////////////////////
////  Footer | Styles
//////////////////////////////////////////////////////////

@mixin sans-serif {
	font-family: $theme-sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	line-height: 0.9;
	letter-spacing: 0.18em;
	font-size: 11px;
	@include breakpoint(xs) {
		font-size: 12px;
	}
	@include breakpoint(sm) {
		font-size: 13px;
	}
	@include breakpoint(md) {
		font-size: 10px;
	}
	@include breakpoint(md) {
		font-size: 11px;
	}
}

footer {

	background: $theme-dark-grey;	
	color: $theme-beige;
	padding: 48px 0px;
	text-align: left;
  
	.footer__main {}
	
	.footer__legal {}
	
	.footer__newsletter {
		display: block;
		width: 100%;
		h2 {
			@include sans-serif;
			color: $theme-beige;
			display: block;
		    margin: 0;
		    padding: 0;
		}
		fieldset {
			display: block;
			margin: 0;
		}
		input {
			background: transparent;
			display: block;
			margin: 0px;
			padding: 0px;
			border: none;
			outline: none;
		}
		input[type="email"] {
			font-family: $theme-serif;
			border-bottom: 1px solid rgba(240, 240, 240, 0.33);
			margin: 16px 0px;
			padding: 3px 0px;
			font-weight: 100;
			letter-spacing: 0.15em;
			font-size: 11px;
			width: 100%;
	        &:hover, &:focus {
		    	border-bottom: 1px solid rgba(240, 240, 240, 1);  	
	        }
		}
		input[type="submit"] {
			@include sans-serif;
			color: $theme-beige;
			display: inline-block;
			width: auto;
			&:hover, &:focus {
				@include opacity(0.33);
				background: transparent;
			}
		}
	}
	
	.footer__brand {
		display: inline-block;
		width: 56px;
		margin: 40px 0px;
		a, img {
			width: 100%;
			display: block;
        }
        a {
			&:hover, &:focus {
				@include opacity(0.33);
			}
        }
	}
	
	.menu {
		
		width: 100%;
		
		&__list,
		&__item {
			margin: 0;
			padding: 0;
		}
		
		&__item {
			@include sans-serif
			color: $theme-beige;
			display: block;
			margin: 0 0 15px 0;
			line-height: 1.1;
			&:last-child {
				margin: 0;
			}
			&.active a {
				color: shade( $theme-beige, 45% );
			}
		}
		
		&__item--heading {
			font-family: $theme-serif;
		    font-size: 13px;
		    text-transform: none;
		    font-style: italic;	
		    font-weight: 300;
		}
		
		a {
			display: inline-block;
			width: auto;
			color: inherit;
			&:hover, &:focus {
				color: shade( $theme-beige, 45% );
			}
		}
				
	}	
	
	.menu--main {
		
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;	
		margin-bottom: -32px;
		
		.menu__list {
			display: flex;
			flex-direction: column;
			flex: 50%;
			padding-right: 20px;
			padding-bottom: 32px;
		}
			
	}
	
	.menu--legal {
		display: block;
		margin: 0 0 30px 0;
		.menu__list {
			display: block;
		}
		.menu__item {
			display: inline-block;
			width: auto;
			margin: 0 20px 0 0;
			&:last-child {
				margin: 0;
			}
		}
	}

	.footer__copyright {
		@include opacity(0.22);
		@include sans-serif;
		color: $theme-beige;
	}
  
	.footer__hr {
        display: block;
        width: 100%;
        height: 1px;
        background: rgba(240, 240, 240, 0.33);
        margin: 35px 0px;
    }

	@include breakpoint(xs) {
		
		.menu--main {
				
			margin-bottom: 0;
			
			.menu__list {
				flex: 1;
				padding-right: 15px;
				padding-bottom: 0;
			}
				
		}
		
	}  // min width xs

	@include breakpoint(sm) {
     
		.footer__brand {
			width: 65px;
    	}
		
		.menu--main {
			.menu__list {
				padding: 0;
			}
		}
    
    }  // min width sm

	@include breakpoint(md) {
	    	
		.footer__brand {
	    	width: 55px;
		}    	
		
		.footer__copyright,
		.menu--legal {
  		display: inline-block;
  		vertical-align: middle;
  		width: auto;
		}
		
		.footer__copyright {
  		@include opacity(1);
  		float: left;
		}
		
		.menu--legal {
  		margin: -13px 0 0 22px;
		}
      
  }  // min width md

  @include breakpoint(lg) {
	    
	    
  }  // min width lg 
  
} // footer