//////////////////////////////////////////////////////////
////  General | Variables
//////////////////////////////////////////////////////////

$column-content--text-padding: 10px;
$column-content--text-padding-offset: 28px;

$column-content--text-padding-xs: 12px;
$column-content--text-padding-offset-xs: 32px;

$column-content--text-padding-sm: 14px;
$column-content--text-padding-offset-sm: 38px;

$column-content--text-padding-md: 16px;
$column-content--text-padding-offset-md: 40px;

$column-content--text-padding-lg: 18px;
$column-content--text-padding-offset-lg: 50px;

//////////////////////////////////////////////////////////
////  General | Styles
//////////////////////////////////////////////////////////

body {
	
	.desktop-only {
		display: none !important;
	}
	
	.mobile-only {
		display: inline-block !important;
	}
	
	a {
		@include transitions-all(280);
	}
	
	.hidden {
		display: none !important;
	}
	
	@include breakpoint(xs) {
	
	} // min width xs
		
	@include breakpoint(sm) {
			
	} // min width sm
		
	@include breakpoint(md) {
		
		.desktop-only {
			display: inline-block !important;
		}
				
		.mobile-only {
			display: none !important;
		}		
				
	} // min width md
		
	@include breakpoint(lg) {
				
	} // min width lg
	
} // body 