//////////////////////////////////////////////////////////
////  Password Protected | Styles
//////////////////////////////////////////////////////////

#password-protected {
		
	text-align: center;
	padding: 40px 0px;
		
	h2 {
		font-size: 18px;
		margin: 0px 0px 18px 0px;
	}
		
	input {
			
		&.password-protected {
			text-align: center;
			@include placeholder {
			    font-style: italic;
			    color: #bfbfbf;
			    font-weight: 400;
			}
				
		}
					
	} // &.input
		
	@include breakpoint(xs) {
			
		padding: 50px 0px;
			
		h2 {
			font-size: 20px;
			margin: 0px 0px 20px 0px;
		}
			
	} // min width xs 
		
	@include breakpoint(sm) {
			
		padding: 60px 0px;
			
		h2 {
			font-size: 22px;
		}
			
	} // min width sm 
		
	@include breakpoint(md) {
			
		padding: 70px 0px;
			
		h2 {
			font-size: 22px;
		}
			
	} // min width md 
		
	@include breakpoint(lg) {
			
		padding: 80px 0px;
			
		h2 {
			font-size: 22px;
		}
			
	} // min width lg
		
} // #password-protected