//////////////////////////////////////////////////////////
////  Push Content | Variables
//////////////////////////////////////////////////////////

$push-content-width: 260px;
$push-content-width-xs: 270px;
$push-content-width-sm: 280px;
$push-content-width-md: 290px;
$push-content-width-lg: 300px;

// matches header height
$push-content-offset-top: 64px; 
$push-content-offset-top-xs: 68px;
$push-content-offset-top-sm: 75px;
$push-content-offset-top-md: 85px;
$push-content-offset-top-lg: 100px;

$padding-inner: 15px;
$padding-inner-xs: 18px;
$padding-inner-sm: 20px;
$padding-inner-md: 22px;
$padding-inner-lg: 25px;

//////////////////////////////////////////////////////////
////  Push Content | Styles
//////////////////////////////////////////////////////////

.push-content,
header, #site-container {
	@include transitions( all, 280, 35 );
}

body,
#site-container {
	position: relative;
	overflow-x: hidden;
}

header,
#site-container {
		
	&.pushed-left {
		
		@include transform3d( -$push-content-width, 0, 0 );
		
		@include breakpoint(xs) {

			@include transform3d( -$push-content-width-xs, 0, 0 );
	
		} // min width XS
		
		@include breakpoint(sm) {
			
			@include transform3d( -$push-content-width-sm, 0, 0 );
			
		} // min width SM
		
		@include breakpoint(md) {
			
			@include transform3d( -$push-content-width-md, 0, 0 );
			
		} // min width MD
		
		@include breakpoint(lg) {
			
			@include transform3d( -$push-content-width-lg, 0, 0 );
			
		} // min width LG	
		
	} // .pushed-left 
	
	&.pushed-right {
		
		@include transform3d( $push-content-width, 0, 0 ); 	
		
		@include breakpoint(xs) {

			@include transform3d( $push-content-width-xs, 0, 0 );
	
		} // min width XS
		
		@include breakpoint(sm) {
			
			@include transform3d( $push-content-width-sm, 0, 0 );
			//@include transform3d( 0, 0, 0 );
			
		} // min width SM
		
		@include breakpoint(md) {
			
			//@include transform3d( $push-content-width-md, 0, 0 );
			@include transform3d( 0, 0, 0 );
			
		} // min width MD
		
		@include breakpoint(lg) {
			
			//@include transform3d( $push-content-width-lg, 0, 0 );
			@include transform3d( 0, 0, 0 );
			
		} // min width LG	
		
	} // .pushed-right
		
} // #site-container
		
//////////////////////////////////////////////////////////
////  Push Content | General ( Transitions, etc... )
//////////////////////////////////////////////////////////

.push-content {
	
	width: $push-content-width;
	padding: $padding-inner;
	background: $theme-beige;
	color: $theme-dark-grey;
	text-align: left;
	display: block;
	overflow-x: auto;
	height: 100%;
	position: fixed;
	top: 0px;
	z-index: 10;
	
	.hr {
		display: block;
		height: 1px;
		margin: 20px 0px;
		background: $theme-off-beige;
	}

	ul, li, a, .push-content--ui {
		@include transitions-all( 260 );
	}

	ul, li, a {
		color: inherit;
		font-size: inherit;
		font-weight: inherit;
		line-height: 90%;
	}
	
	ul, li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
	
	.navigation {
		
		ul {
			margin-bottom: 25px;
			&:last-child {
				margin: 0px;
			}
		}
		
		li {
			font-family: $theme-sans-serif;
			font-size: 10px;
		    font-weight: 400;
		    text-transform: uppercase;
		    letter-spacing: 0.2em;
		    display: block;
		    margin-bottom: 14px;
		    &:last-child {
			    margin: 0px;
		    }
		}
		
		li.active {
			a {
				//@include opacity(0.33);
			}
		}
		
		.navigation-item-heading {
			font-family: $theme-serif;
			font-style: italic;
			font-weight: 100;
			letter-spacing: 0.05em;
			text-transform: none;
			font-size: 105%;
		}

		a {
			display: inline-block;
		}
		
		a:hover {
			//@include opacity(0.33);	
		}
		
	} // .navigation
	
	.navigation--sub {
		li {
			padding-left: 12px;
		}
	}
				
	img {
		display: block;
		width: 100%;
		height: auto;
	}
	
	&.push-content--overlay {
		top: $push-content-offset-top;
		z-index: 12;
	}
	
	&.push-content--left {
		@include transform3d( -$push-content-width, 0, 0 );
		border-right: 1px solid $theme-off-beige;
		left: 0px;		
		&.pushed-right {
			@include transform3d( 0, 0, 0 );	
		}
	}
	
	&.push-content--right {
		@include transform3d( $push-content-width, 0, 0 );
		border-left: 1px solid $theme-off-beige;
		right: 0px;
		&.pushed-left {
			@include transform3d( 0, 0, 0 );	
		}
	}
	
	@include breakpoint(xs) {
		
		width: $push-content-width-xs;
		padding: $padding-inner-xs;
		
		&.push-content--overlay {
			top: $push-content-offset-top-xs;
		}
		
		&.push-content--left {
			@include transform3d( -$push-content-width-xs, 0, 0 );	
		}  
		
		&.push-content--right {
			@include transform3d( $push-content-width-xs, 0, 0 );
		}
		
	} // min width xs
	
	@include breakpoint(sm) {
		
		width: $push-content-width-sm;
		padding: $padding-inner-sm;
		
		&.push-content--overlay {
			top: $push-content-offset-top-sm;
		}
		
		&.push-content--left {
			@include transform3d( -$push-content-width-sm, 0, 0 );	
		}  
		
		&.push-content--right {
			@include transform3d( $push-content-width-sm, 0, 0 );
		}
		
	} // min width sm
	
	@include breakpoint(md) {
		
		width: $push-content-width-md;
		padding: $padding-inner-md;
		
		&.push-content--overlay {
			top: $push-content-offset-top-md;
		}
		
		&.push-content--left {
			@include transform3d( -$push-content-width-md, 0, 0 );
			&.pushed-right {
				@include transform3d( -$push-content-width-md, 0, 0 );
			}			
		}
		
		&.push-content--right {
			@include transform3d( $push-content-width-md, 0, 0 );
			&.pushed-left {
				@include transform3d( $push-content-width-md, 0, 0 );
			}
		}
		
	} // min width md
	
	@include breakpoint(lg) {
		
		width: $push-content-width-lg;
		padding: $padding-inner-lg;
		
		.navigation {
		
			ul {
				margin-bottom: 28px;
			}
		
			li {
				font-size: 12px;
			    margin-bottom: 14px;
			}
			
			.navigation-item-heading {
				font-size: 120%;
			}
		
		}
		
		&.push-content--overlay {
			top: $push-content-offset-top-lg;
		}
		
		&.push-content--left {
			@include transform3d( -$push-content-width-lg, 0, 0 );
			&.pushed-right {
				@include transform3d( -$push-content-width-lg, 0, 0 );
			}			
		}
		
		&.push-content--right {
			@include transform3d( $push-content-width-lg, 0, 0 );
			&.pushed-left {
				@include transform3d( $push-content-width-lg, 0, 0 );
			}
		}
		
	} // min width lg
	
} // .push-content--main-menu

//////////////////////////////////////////////////////////
////  Push Content | Main Menu
//////////////////////////////////////////////////////////

.push-content--main-menu {
	
	.brand {
		width: 50px;
		margin: 0px 0px 20px 0px;
	}
	
	.collapse-trigger {
		cursor: pointer;
		span {
			display: inline-block;
			vertical-align: middle;
			width: auto;
		}
	}
	
	.collapse-content-padding {
		margin-top: 14px;
	}
	
	@include breakpoint(xs) {} // min width xs
	@include breakpoint(sm) {
		
		.brand {
			width: 55px;
		}
		
		.collapse-content-padding {
			margin-top: 15px;
		}
		
	} // min width sm
	
	@include breakpoint(md) {} // min width md
	@include breakpoint(lg) {} // min width lg
	
} // .push-content--main-menu

//////////////////////////////////////////////////////////
////  Push Content | Booking Cart Summary Overlay
//////////////////////////////////////////////////////////

.push-content--cart-summary {
	
	li, .push-cart-list-item {
		@include transitions-reset;
	}
  
  	.navigation {
	
        .push-content-headline {
            text-align: center;
            margin-bottom: 15px;
            color: rgba(40,37,36,0.66);
            text-transform: uppercase;
            font-size: 15px;
        }

        .push-cart-list {
            margin: 0px;
            padding: 18px 0px;
            border-bottom: 1px solid rgba(40, 37, 36, 0.03);
            border-top: 1px solid rgba(40, 37, 36, 0.03);
        }

        .push-cart-list-item {
            @include transitions-reset;
            @include clearfix;
            margin: 0px;
            padding: 0px;      	
            margin: 0px 0px 25px 0px;
        }

        .push-cart-list-item__image {
            float: left;
            width: 35%;

            a {
                padding: 0px 10px 0px 0px;
                &:hover {
                    @include opacity(0.75);
                }
            }

        }

        .push-cart-list-item__info {
            font-family: $theme-serif;
            letter-spacing: 0.05em;
            font-weight: 400;
            float: right;
            width: 65%;
        }

        .product-title {
            font-family: $theme-sans-serif;
            font-size: 10px;
            font-weight: 500;
            letter-spacing: 0.18em;
            margin-bottom: 6px;
            display: block;
            line-height: 105%;
        }

        .product-options {
            @include clearfix;
            position: relative;
            padding: 6px 0px;
            border-top: 1px solid rgba(40, 37, 36, 0.33);
            text-transform: none;
            font-size: 10px;
            font-family: $theme-serif;
            letter-spacing: 0.05em;
            font-weight: 400;
        }

        .product-options--price {
            padding: 12px 0px;
        }

        .product-variant {
            width: auto;
            display: inline-block;
            left: 0px;
            top: 10px;
            position: absolute;
        }

        .product-quantity-list {
            text-align: right;
        }


        .product-quantity-list-item {
            @include transitions-all(300);
            cursor: pointer;
        }

        .product-quantity-list-item {
            text-transform: inherit;
            font-size: inherit;
            font-family: inherit;
            letter-spacing: inherit;
            font-weight: inherit;
            margin: 0px;
            padding: 0px;
            display: inline-block !important;
            vertical-align: middle;
            font-size: 10px;
            line-height: 90%;
            img {
                width: 100%;
                height: 100%;
                display: block;
            }
        }

        .product-quantity-list-item--quantity {
            text-align: center;
            letter-spacing: 0px;
            cursor: default;
            margin: 0px 10px !important;
        }

        .product-quantity-list-item--increase,
        .product-quantity-list-item--decrease {
            @include opacity(0.5);
            width: 15px;
            height: 15px;
            padding: 0px;
            margin: 0px !important;
        }

        .product-quantity-list-item--remove { 
            @include opacity(0.22);
            text-transform: none;
            font-size: 10px;
            font-family: "Archer",serif;
            letter-spacing: 0.05em;
            font-weight: 400;
        }

        .product-quantity-list-item--increase,
        .product-quantity-list-item--decrease,
        .product-quantity-list-item--remove {
            &:hover {
              @include opacity(1);
            }
        }

        .push-cart-total {
            margin: 20px 0px 0px 0px;
            text-align: right;
        }

        .push-cart-note {
            font-family: $theme-serif;
            font-weight: bold;
            font-style: italic;
        }

        .push-cart-note--label {

        }

        .push-cart-note--amount {

        }

        .push-cart-note--continue-shopping {
            display: block;
            font-weight: normal;
            a { 
                display: inline-block;
                line-height: 90%;
                border-bottom: 1px solid $theme-dark-grey;
                &:hover {
                    @include opacity(1);
                    border-bottom: 1px solid transparent;
                }
            }
        }

        .cart-note {
            font-family: $theme-serif;
            font-style: italic;
            display: inline-block;
            vertical-align: middle;
        }

        .cart-note--continue-shopping {
            width: 100%;
            text-align: left;
            a {
                display: inline-block;
                border-bottom: 1px solid $theme-dark-grey;
                &:hover {
                    color: $theme-mid-grey;
                    border-bottom: 1px solid transparent;
                }
            }
        }

        .push-cart-cta {
            margin: 20px 0px 0px 0px;
        }

        input[type="submit"] {
            background: $theme-dark-grey;
            color: $theme-beige;
            display: block;
            font-weight: 500;
            letter-spacing: 0.18em;
            text-transform: uppercase;
            line-height: 90%;
            width: 100%;
            padding: 14px 0px;
            &:hover {
                background: #000;
            }
        }

        .push-cart-empty-message {
            font-family: $theme-serif;
            font-weight: 300;
            color: inherit;
            letter-spacing: 0.045em;
            text-align: center;
            padding-top: 12px;
            a {
                display: inline-block;
                line-height: 90%;
                border-bottom: 1px solid;
                &:hover {
                    border-bottom: 1px solid transparent;
                }
            }
        }
  
	} // .navigation
		
	@include breakpoint(xs) {
   
    } // min width xs
  
	@include breakpoint(sm) {
      
    } // min width sm
  
	@include breakpoint(md) {
		&.push-content--left {
			&.pushed-right {
				@include transform3d( 0, 0, 0 );	
			}
		}		
	} // min width md
  
	@include breakpoint(lg) {
		&.push-content--left {
			&.pushed-right {
				@include transform3d( 0, 0, 0 );	
			}
		}	
	} // min width lg
	
} // .push-content--cart-summary

//////////////////////////////////////////////////////////
////  Push Content | Booking Locations Overlay
//////////////////////////////////////////////////////////

.push-content--booking-locations {
	@include breakpoint(xs) {} // min width xs
	@include breakpoint(sm) {} // min width sm
	@include breakpoint(md) {
		&.push-content--right {
			&.pushed-left {
				@include transform3d( 0, 0, 0 );
			}
		}
	} // min width md
	@include breakpoint(lg) {
		&.push-content--right {
			&.pushed-left {
				@include transform3d( 0, 0, 0 );
			}
		}
	} // min width lg
} // .push-content--booking-locations

//////////////////////////////////////////////////////////
////  Push Content | NEW STYLES BELOW
//////////////////////////////////////////////////////////

.push-content {
	
	.menu {}
	
	.sub-menu {}
	
	.menu__list,
	.sub-menu__list {
		display: block;
	}
	
	.sub-menu__list {
		padding-left: 11px;
	}
	
	.menu__item,
	.sub-menu__item {
		color: $theme-dark-grey;
		display: block;
		font-size: 10px;
		a {
			color: inherit;
			&:hover, &:focus {
				color: tint( $theme-dark-grey, 50% );
			}
		}
		&.active a {
			color: tint( $theme-dark-grey, 50% );
		}
	}
	
	.menu__item--heading, 
	.sub-menu__item--heading {
		@include opacity(0.45);
		font-size: 13.5px;
	}
	
	.menu__item {
		margin: 0 0 16px 0;
		&:last-child {
			margin: 0;
		}
	}

	.sub-menu__item {
		margin: 16px 0 0 0;
	}
	
	.hr {
		background: $theme-off-beige;
		display: block;
		height: 1px;
		margin: 20px 0;
	}
	
	&.push-content--left {
		border-right: 1px solid $theme-off-beige;
	}
			
	@include breakpoint(xs) {
	
	} // min width xs
	
	@include breakpoint(sm) {
	
	} // min width sm
	
	@include breakpoint(md) {
	
	} // min width md
	
	@include breakpoint(lg) {
	
	} // min width lg
	
}