//////////////////////////////////////////////////////////
////  Typography | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Typography | Styles
//////////////////////////////////////////////////////////

body {
	
	font-family: $theme-serif;
	
	.sans-serif {
		font-family: $theme-sans-serif;
	}
		
	ul, li {
		list-style: none;
		font-size: .1px;
	}
	
	p, li {
		font-size: $theme-body-font-size;
		line-height: 140%;
	  	font-weight: 300;
	  	color: inherit;
	  	letter-spacing: 0.045em;
	  	a { 
		  	color: inherit;
		}
	  	&:last-child {
		  	margin: 0px;
	  	}
	}
	
	nav {
    	li {
        	list-style: none;
          	display: inline-block;
          	vertical-align: middle;
        }
    }
	
	h1, h2, h3, h4, h5, h6, nav { 
		font-family: $theme-sans-serif;
	}
	
	h1, h2, h3, h4, h5, h6 {
		line-height: 100%;
		letter-spacing: 0.05em;
		margin: 0px;
		padding: 0px;
	}
	
	p, ul, ol, h2, h3, h4 {
		margin: 0px 0px 17px 0px;
		&:last-child {
			margin: 0px;
		}
	}
	
	h2, h3, h4 {
		margin-top: 28px;
		&:first-child {
			margin-top: 0px;
		}
	}
	
	h1 {
		font-weight: 900;
		margin: 0px 0px 25px 0px;
	}
	
	a {
		&:hover,
		&:focus {
			outline: none;	
			text-decoration: none;
		}	
	}
	
	.text-align--left,
	.text-align--right,
	.text-align--center {
		text-align: center;
	}
		
	strong, b {
		letter-spacing: .33px;
		font-weight: 700;
	}
	
	em, i {
		letter-spacing: 0.05em;
	}
	
	.rte {
		
		ul, ol {
			padding: 0px 0px 0px 30px;
			
			li {
				padding: 0px 0px 0px 5px;
				margin-bottom: 5px;
			}
			
		}
		
		ul {
			li {
				list-style: disc;
			}
		}
		
		ol {
			li {
				list-style: decimal;
			}
		}
		
		img {
			display: block;
			width: 100%;	
		}
		
	}
	
	.headline {
		font-family: $theme-sans-serif;
		margin: 0px;
		padding: 0px;
		line-height: 90%;
		letter-spacing: 0.15em;
		text-transform: uppercase;
	}
	
	.headline--section-title {
		color: $theme-dark-grey;
		font-weight: 600;
		margin-bottom: 18px;
		font-size: 19px;
	}
	
	.button {
		@include transitions-all( 300, 45 );
		font-family: $theme-sans-serif;
		font-weight: 500;
		letter-spacing: 0.18em;
		text-transform: uppercase;
		display: block;
		text-align: center;
		padding: 14px 25px;
		min-width: 160px;
		font-size: 12px;
		line-height: 90%;
		cursor: pointer;
	}
	
	.button--inline {
		display: inline-block;
	}
	
	.button--call-to-action {
		color: #282524;
		border: 1px solid $theme-red;
		&:hover {
			color: $theme-red;
		}
	}
	
	.button--solid-fill {
		background: $theme-dark-grey;
		color: #fff;
		//font-weight: 600;
		&:hover {
			background: $theme-red;
		}
	}
	
	.button--location-cta {
		&:hover {
			background: $theme-mid-grey;
		}
	}
	
	@include breakpoint( xs ) {
		
		p, li {
			font-size: $theme-body-font-size-xs;
		}
		
		p, ul, ol, h2, h3, h4 {
			margin: 0px 0px 18px 0px;
		}
		
		h2, h3, h4 {
			margin-top: 32px;
		}
				
		.rte {
		
			ul, ol {
				padding: 0px 0px 0px 35px;
				
				li {
					padding: 0px 0px 0px 6px;
					margin-bottom: 6px;
				}
				
			}
						
		}
		
		h1 {
			margin: 0px 0px 28px 0px;
		}
		
		.headline--section-title {
			margin-bottom: 19px;
			font-size: 20px;
		}
		
	} // min width xs
	
	@include breakpoint( sm ) {
		
		p, li {
      		font-size: $theme-body-font-size-sm;
        }
		
		.rte {
		
			ul, ol {
				padding: 0px 0px 0px 40px;
				
				li {
					padding: 0px 0px 0px 7px;
					margin-bottom: 7px;
				}
				
			}
						
		}
		
		.text-align--right {
			text-align: right;
		}
		
		.text-align--left {
			text-align: left;
		}
		
		.headline--section-title {
			margin-bottom: 20px;
			font-size: 22px;
		}
		
	} // min width sm
	
	@include breakpoint( md ) {
		
		p, li {
			font-size: $theme-body-font-size-md;
		}
	  
	    p, ul, ol, h2, h3, h4 {
	        margin: 0px 0px 17px 0px;
	    }
	    
	    h2, h3, h4 {
			margin-top: 35px;
		}
	    
	    h1 {
			margin: 0px 0px 25px 0px;
		}
				
		.headline--section-title {
			margin-bottom: 22px;
			font-size: 24px;
		}
		
		.headline--workshop-title {
			margin-bottom: 18px;
			font-size: 18px;
		}
		
	} // min width md
	
	@include breakpoint( lg ) {
		
		p, li {
			font-size: $theme-body-font-size-lg;
		}
		
		p, ul, ol, h2, h3, h4 {
			margin: 0px 0px 18px 0px;
		}
		
		h2, h3, h4 {
			margin-top: 35px;
		}
		
		h1 {
			margin: 0px 0px 28px 0px;
		}
						
	} // min width lg
	
} // body 